*{
    font-family:Rockwell,Serif;
}
.title{
    text-align:center;
    margin-top: 75px;
    font-weight:700;
    font-style:italic;
}
body{
    overflow:scroll;
}
/*.col-xs-4 {
    width: 300px;
    height:auto;
}*/
.col-xs-6 {
    text-align: center;
}
h4 {
    text-decoration: underline;
    text-decoration-color: #466995;
}

.resize {
    width: 200px;
    height:auto;
}
hr {
    border-color:inherit;
}
